{% extends 'artist/base.html.twig' %}

{% block title %}Liste de mes pulication{% endblock %}

{% block body %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> Liste de mes pulication</h1>
            <p>La liste des pulication que vous avez créer, <a href="{{ path('artist_ad_new') }}"><i class="fa fa-plus"></i> Ajouter une pulication</a></p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Gestion pulication</li>
            <li class="breadcrumb-item active"><a href="#">Liste des pulication</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Introduction</th>
                            <th>Date de publication</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ad in ads %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ ad.title }}</td>
                                <td>{{ ad.image }}</td>
                                <td>{{ ad.introduction }}</td>
                                <td>{{ ad.createdAt ? ad.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('artist_ad_show', {'id': ad.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                    <a href="{{ path('artist_ad_edit', {'id': ad.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Vous n'avez pas de pulication, créer une publication <a href="{{ path('artist_ad_new') }}"><i class="fa fa-plus"></i> Ajouter</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
