<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
            <p class="app-sidebar__user-name">{{ app.user.artistName }}</p>
            <p class="app-sidebar__user-designation">Artist</p>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href="{{ path('artist_homepage') }}">
                <i class="app-menu__icon fa fa-dashboard"></i>
                <span class="app-menu__label">Tableau de bord</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="{{ path('artist_ad_index') }}">
                <i class="app-menu__icon fa fa-pie-chart"></i>
                <span class="app-menu__label">Mes Posts</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="#">
                <i class="app-menu__icon fa fa-music"></i>
                <span class="app-menu__label">Gestion des Singles</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="{{ path('artist_album_index') }}">
                <i class="app-menu__icon fa fa-audio-description"></i>
                <span class="app-menu__label">Gestion des Albums</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="{{ path('artist_clip_index') }}">
                <i class="app-menu__icon fa fa-file-video-o"></i>
                <span class="app-menu__label">Gestion des Vidéos</span>
            </a>
        </li>
    </ul>
</aside>