{{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2 class="alert-heading text-center">
                    Tous sur l'album
                </h2>
                {{ form_row(form.Titre) }}
                {{ form_row(form.image) }}
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2 class="alert-heading text-center">
                    Ajouter les musics de l'album
                </h2>
                {{ form_row(form.musics) }}
            </div>
        </div>
    </div>
    <button class="btn btn-success">
        <i class="fa fa-check"></i>{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
