{% extends 'base.html.twig' %}

{% block title %}Music{% endblock %}

{% block body %}
    <h1>Music</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ music.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ music.titre }}</td>
            </tr>
            <tr>
                <th>Song</th>
                <td>{{ music.song }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ music.createdAt ? music.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('music_index') }}">back to list</a>

    <a href="{{ path('music_edit', {'id': music.id}) }}">edit</a>

    {{ include('music/_delete_form.html.twig') }}
{% endblock %}
